.user-new
  .uheader
    = link_to first_page_posts_path, class:"uheader__text", data: {turbolinks: false}  do
      My Sake Diary
    %ul.uheader__right
      %li.uheader__right__11
        Member information
        .uheader__right__11--line
      %li.uheader__right__21
        Additional Information
        .uheader__right__21--line2
      %li.uheader__right__3
        Done
        .uheader__right__3--line3
  .umain
    .umain__title
      Please fill in the required items.
    .umain__content
      = form_with model: @personal,url: {controller: 'registrations', action: 'create_additional' },class:"umain__content__single1",local: true do |f|
        .umain__content__single1__top
          Height
        .umain__content__single1__form
          = f.text_field :height, placeholder: "e.g.: 175.2", class: 'umain__content__single1__form__input'
          .umain__content__single1__form__text
            cm


        .umain__content__single1__top
          Weight
        .umain__content__single1__form
          = f.text_field :weight, placeholder: "e.g.: 65.2", class: 'umain__content__single1__form__input'
          .umain__content__single1__form__text
            kg
        
        .umain__content__single1__top
          Age
        .umain__content__single1__form
          = f.select :age, [["20"],["21"],["22"],["23"],["24"],["25"],["26"],["27"],["28"],["29"],["30"],["31"],["32"],["33"],["34"],["35"],["36"],["37"],["38"],["39"],["40"],["41"],["42"],["43"],["44"],["45"],["46"],["47"],["48"],["49"],["50"],["51"],["52"],["53"],["54"],["55"],["56"],["57"],["58"],["59"],["60"],["61"],["62"],["63"],["64"],["65"],["66"],["67"],["68"],["69"],["70"],["71"],["72"],["73"],["74"],["75"],["76"],["77"],["78"],["79"],["80"],["81"],["82"],["83"],["84"],["85"],["86"],["87"],["88"],["89"],["90"],["91"],["92"],["93"],["94"],["95"],["96"],["97"],["98"],["99"]],{}, {class: 'umain__content__single1__form__input1'}
          .umain__content__single1__form__text
            years old

        .umain__content__single1__top
          Monthly Drinking Money
        .umain__content__single1__form
          .umain__content__single1__form__select1
            = f.select :month, [["January"],["February"],["March"],["April"],["May"],["June"],["July"],["August"],["September"],["October"],["November"],["December"]],{}, {class: 'umain__content__single1__form__select1__box1'}
          .umain__content__single1__form__select2
            .umain__content__single1__form__select2__text
              ¥
            = f.text_field :monthly_drinking_money, placeholder: "e.g.: 5,000", class: 'umain__content__single1__form__select2__box2'
        = f.submit "NEXT", class: 'umain__content__single1__button'