.fheader
  = link_to first_page_posts_path, class: "fheader__titlebox", data: {turbolinks: false}  do
    My Sake Diary
  .fheader__button
    = link_to new_user_session_path, class: "fheader__button__loginbox", data: {turbolinks: false} do
      LOG IN
    = link_to index_path, class: "fheader__button__signupbox" do
      SIGN UP
.signin
  .signin__head
  .signin__box
    .signin__box__header
      .signin__box__header__text
        Click here if you do not have an account
      = link_to index_path, class: "signin__box__header__button" do
        New Member Registration
    .signin__box__content
      = form_with model: @user, url: user_session_path, id: 'new_user', class: 'signin__box__content__inputbox', local: true do |f|
        = f.email_field :email, autofocus: true,class: "signin__box__content__inputbox__input",placeholder: "Mailaddress"
        = f.password_field :password, autocomplete: "off",class:"signin__box__content__inputbox__input",placeholder: "Password"
        .signin__box__content__inputbox__input
          = flash[:recaptcha_error]
          = recaptcha_tags
        = f.submit "LOG IN", class: "signin__box__content__inputbox__send"