.fheader
  = link_to first_page_posts_path, class: "fheader__titlebox", data: {turbolinks: false}  do
    My Sake Diary
  .fheader__button
    = link_to new_user_session_path, class: "fheader__button__loginbox", data: {turbolinks: false} do
      LOG IN
    = link_to index_path, class: "fheader__button__signupbox" do
      SIGN UP
.fmain
  %ul.fmain__images
    -# 1枚目のスライド
    %li
      = image_tag "drink_craft_beer_glass.png", size:"600x300" ,class: "fmain__images__image1",id: "gazo1"
      .fmain__images__greeting1
        Welcome To 
      .fmain__images__greeting2
        『My Sake Diary』
    -# 2枚目のスライド
    %li
      = image_tag "drink_craft_beer_bottle.png", size:"300x200" ,class: "fmain__images__image2",id: "gazo1"
      .fmain__images__description1
        This service will dramatically change
      .fmain__images__description2
        your drinking life