.main
  = render'header'
  .content1
    .content1__data1
      .content1__data1__title
        .content1__data1__title__text
          Your Basic Data
        = link_to edit_user_path(current_user.id), class: "content1__data1__title__edit", data: {turbolinks: false}  do
          Edit
      .content1__data1__userdata1
        .content1__data1__userdata1__box
          .content1__data1__userdata1__box__title
            Nickname
          .content1__data1__userdata1__box__value
            .content1__data1__userdata1__box__value__variable
              = current_user.nickname
        .content1__data1__userdata1__box
          .content1__data1__userdata1__box__title
            Height
          .content1__data1__userdata1__box__value
            .content1__data1__userdata1__box__value__variable
              = current_user.personal.height
            .content1__data1__userdata1__box__value__unit
              cm
        .content1__data1__userdata1__box
          .content1__data1__userdata1__box__title
            Weight
          .content1__data1__userdata1__box__value
            .content1__data1__userdata1__box__value__variable
              = current_user.personal.weight
            .content1__data1__userdata1__box__value__unit
              kg
      .content1__data1__userdata2
        .content1__data1__userdata2__box
          .content1__data1__userdata2__box__title
            Age
          .content1__data1__userdata2__box__value
            .content1__data1__userdata2__box__value__variable
              = current_user.personal.age
            .content1__data1__userdata2__box__value__unit
              years old
        .content1__data1__userdata2__box2
          .content1__data1__userdata2__box2__title
            Monthly Drinking Money
          .content1__data1__userdata2__box2__value
            .content1__data1__userdata2__box2__value__1
              = current_user.personal.month
            .content1__data1__userdata2__box2__value__2
              ¥
            .content1__data1__userdata2__box2__value__3
              = current_user.personal.monthly_drinking_money
    .content1__data2
      .content1__data2__title
        .content1__data2__title__text
          Your Latest Data Of This Month
        = link_to new_post_path, class: "content1__data2__title__new", data: {turbolinks: false}  do
          WRITE A POST
      .content1__data2__result1
        .content1__data2__result1__box
          .content1__data2__result1__box__title
            Latest Weight
          - if @post.nil?
            .content1__data2__result1__box__value
              .content1__data2__result1__box__value__variable
                ???
              .content1__data2__result1__box__value__unit
                kg
          - else
            .content1__data2__result1__box__value
              .content1__data2__result1__box__value__variable
                = @post.latest_weight
              .content1__data2__result1__box__value__unit
                kg
        .content1__data2__result1__box
          .content1__data2__result1__box__title
            Average Weight
          - if @post.nil?
            .content1__data2__result1__box__value
              .content1__data2__result1__box__value__variable
                ???
              .content1__data2__result1__box__value__unit
                kg
          - else
            .content1__data2__result1__box__value
              .content1__data2__result1__box__value__variable
                = @post.average_weight
              .content1__data2__result1__box__value__unit
                kg
      .content1__data2__result2
        .content1__data2__result2__box
          .content1__data2__result2__box__title
            Total Expence
          - if @post.nil?
            .content1__data2__result2__box__value
              .content1__data2__result2__box__value__variable
                ¥
              .content1__data2__result2__box__value__unit
                ???
          - else
            .content1__data2__result2__box__value
              .content1__data2__result2__box__value__variable
                ¥
              .content1__data2__result2__box__value__unit
                = @post.total_expence
        .content1__data2__result2__box
          .content1__data2__result2__box__title
            Average Drinking Money
          - if @post.nil?
            .content1__data2__result2__box__value
              .content1__data2__result2__box__value__variable
                ¥
              .content1__data2__result2__box__value__unit
                ???
          - else
            .content1__data2__result2__box__value
              .content1__data2__result2__box__value__variable
                ¥
              .content1__data2__result2__box__value__unit
                = @post.average_expence

  .content2
    .content2__header
      .content2__header__left
        .content2__header__left__year
          = @year
        .content2__header__left__month
          = @month
        .content2__header__left__title
          Your Data Of This Month
      = form_with(url: search_posts_path, local: true, method: :get, class: "content2__header__right") do |f|
        .content2__header__right__title
          Other Month
        = f.select :keyword1, [["2019"],["2020"],["2021"],["2022"],["2023"],["2024"],["2025"]],{}, {class: 'content2__header__right__form1'}
        = f.select :keyword2, [["01"],["02"],["03"],["04"],["05"],["06"],["07"],["08"],["09"],["10"],["11"],["12"]],{}, {class: 'content2__header__right__form2'}
        %button.content2__header__right__button
          %i.fas.fa-search
    - if @posts.empty?
      .content2__empty
        No data for this month!!
    - else 
      %ul.posts
        - @posts.each do |post|
          = render partial: "post", locals: { post: post}



