.main
  = render'header'
  .content1
    .content1__data1
      .content1__data1__title
        .content1__data1__title__text
          Your Basic Data
        = link_to edit_user_path(current_user.id), class: "content1__data1__title__edit", data: {turbolinks: false}  do
          Edit
      .content1__data1__userdata1
        .content1__data1__userdata1__box
          .content1__data1__userdata1__box__title
            Nickname
          .content1__data1__userdata1__box__value
            .content1__data1__userdata1__box__value__variable
              = current_user.nickname
        .content1__data1__userdata1__box
          .content1__data1__userdata1__box__title
            Height
          .content1__data1__userdata1__box__value
            .content1__data1__userdata1__box__value__variable
              = current_user.personal.height
            .content1__data1__userdata1__box__value__unit
              cm
        .content1__data1__userdata1__box
          .content1__data1__userdata1__box__title
            Weight
          .content1__data1__userdata1__box__value
            .content1__data1__userdata1__box__value__variable
              = current_user.personal.weight
            .content1__data1__userdata1__box__value__unit
              kg
      .content1__data1__userdata2
        .content1__data1__userdata2__box
          .content1__data1__userdata2__box__title
            Age
          .content1__data1__userdata2__box__value
            .content1__data1__userdata2__box__value__variable
              = current_user.personal.age
            .content1__data1__userdata2__box__value__unit
              years old
        .content1__data1__userdata2__box2
          .content1__data1__userdata2__box2__title
            Monthly Drinking Money
          .content1__data1__userdata2__box2__value
            .content1__data1__userdata2__box2__value__1
              = current_user.personal.month
            .content1__data1__userdata2__box2__value__2
              ¥
            .content1__data1__userdata2__box2__value__3
              = current_user.personal.monthly_drinking_money
    .content1__data2
      .content1__data2__title
        .content1__data2__title__text
          Your Latest Data
        = link_to new_post_path, class: "content1__data2__title__new", data: {turbolinks: false}  do
          WRITE A POST
      .content1__data2__result1
        .content1__data2__result1__box
          .content1__data2__result1__box__title
            Latest Weight
          - if @post.nil?
            .content1__data2__result1__box__value
              .content1__data2__result1__box__value__variable
                ???
              .content1__data2__result1__box__value__unit
                kg
          - else
            .content1__data2__result1__box__value
              .content1__data2__result1__box__value__variable
                = @post.latest_weight
              .content1__data2__result1__box__value__unit
                kg
        .content1__data2__result1__box
          .content1__data2__result1__box__title
            Average Weight
          - if @post.nil?
            .content1__data2__result1__box__value
              .content1__data2__result1__box__value__variable
                ???
              .content1__data2__result1__box__value__unit
                kg
          - else
            .content1__data2__result1__box__value
              .content1__data2__result1__box__value__variable
                = @post.average_weight
              .content1__data2__result1__box__value__unit
                kg
      .content1__data2__result2
        .content1__data2__result2__box
          .content1__data2__result2__box__title
            Rest Of Drinking Money
          - if @post.nil?
            .content1__data2__result2__box__value
              .content1__data2__result2__box__value__variable
                ¥
              .content1__data2__result2__box__value__unit
                ???
          - else
            .content1__data2__result2__box__value
              .content1__data2__result2__box__value__variable
                ¥
              .content1__data2__result2__box__value__unit
                = @post.total_expence
        .content1__data2__result2__box
          .content1__data2__result2__box__title
            Average Drinking Money
          - if @post.nil?
            .content1__data2__result2__box__value
              .content1__data2__result2__box__value__variable
                ¥
              .content1__data2__result2__box__value__unit
                ???
          - else
            .content1__data2__result2__box__value
              .content1__data2__result2__box__value__variable
                ¥
              .content1__data2__result2__box__value__unit
                = @post.average_expence

  .content2
    #calendar