.main
  .header
    = link_to "", class: "header__title" do
      My Sake Diary
    = form_with(url: root_path, local: true, method: :get, class: "header__search") do |f|
      = f.text_field :keyword, class: "header__search__form"
      %button.header__search__button
        %i.fas.fa-search
    .header__button
      %button#modal-open-btn LOG OUT
      = link_to "", destroy_user_session_path, method: :delete, id: 'item-delete-btn'
      #overlay
        #modalWindow
          .modal-message-box
            %div confirmation 
            %div Are you sure you want to log out?
          %button#modal-close-btn CANCEL
          %button#delete-comformation-btn LOG OUT
  .content1
    .content1__data1
      .content1__data1__title
        .content1__data1__title__text
          Your Basic Data
        .content1__data1__title__edit
          Edit
      .content1__data1__userdata1
        .content1__data1__userdata1__box
          .content1__data1__userdata1__box__title
            Nickname
          .content1__data1__userdata1__box__value
            .content1__data1__userdata1__box__value__variable
              = current_user.nickname
        .content1__data1__userdata1__box
          .content1__data1__userdata1__box__title
            Height
          .content1__data1__userdata1__box__value
            .content1__data1__userdata1__box__value__variable
              = current_user.personal.height
            .content1__data1__userdata1__box__value__unit
              cm
        .content1__data1__userdata1__box
          .content1__data1__userdata1__box__title
            Weight
          .content1__data1__userdata1__box__value
            .content1__data1__userdata1__box__value__variable
              = current_user.personal.weight
            .content1__data1__userdata1__box__value__unit
              kg
      .content1__data1__userdata2
        .content1__data1__userdata2__box
          .content1__data1__userdata2__box__title
            Age
          .content1__data1__userdata2__box__value
            .content1__data1__userdata2__box__value__variable
              = current_user.personal.age
            .content1__data1__userdata2__box__value__unit
              years old
        .content1__data1__userdata2__box2
          .content1__data1__userdata2__box2__title
            Monthly Drinking Money
          .content1__data1__userdata2__box2__value
            .content1__data1__userdata2__box2__value__1
              = current_user.personal.month
            .content1__data1__userdata2__box2__value__2
              ¥
            .content1__data1__userdata2__box2__value__3
              = current_user.personal.monthly_drinking_money
    .content1__data2
      .content1__data2__title
        .content1__data1__title__text
          Your Latest Data
      .content1__data2__result1
        .content1__data2__result1__box
          .content1__data2__result1__box__title
            Latest Weight
          .content1__data2__result1__box__value
            .content1__data2__result1__box__value__variable
              70
            .content1__data2__result1__box__value__unit
              kg
        .content1__data2__result1__box
          .content1__data2__result1__box__title
            Average Weight
          .content1__data2__result1__box__value
            .content1__data2__result1__box__value__variable
              70
            .content1__data2__result1__box__value__unit
              kg
      .content1__data2__result2
        .content1__data2__result2__box
          .content1__data2__result2__box__title
            Rest Of Drinking Money
          .content1__data2__result2__box__value
            .content1__data2__result2__box__value__variable
              ¥
            .content1__data2__result2__box__value__unit
              2000
        .content1__data2__result2__box
          .content1__data2__result2__box__title
            Average Drinking Money
          .content1__data2__result2__box__value
            .content1__data2__result2__box__value__variable
              ¥
            .content1__data2__result2__box__value__unit
              2000

  .content2
    #calendar