.main
  = render 'header'
  .content-new
    .content-new__header
      Your Latest Data
    .content-new__formbox
      = form_with(model: @post, local: true) do |f|
        .content-new__formbox__date
          = f.label :Today , class: "content-new__formbox__date__label1"
          .content-new__formbox__date__form
            = f.date_select :date
        .content-new__formbox__1
          = f.label :Expence , class: "content-new__formbox__1__label1"
          .content-new__formbox__1__unit
            ¥
          = f.text_field :expence, id: "money", class: "content-new__formbox__1__form1"
        .content-new__formbox__2
          = f.label :Total_expence_this_month , class: "content-new__formbox__2__label2"
          .content-new__formbox__2__unit
            ¥
          = f.text_field :total_expence,value:"-----", readonly: true, id: "total", class: "content-new__formbox__2__form2"
        .content-new__formbox__3
          = f.label :Average_expence_this_month , class: "content-new__formbox__3__label3"
          .content-new__formbox__3__unit
            ¥
          = f.text_field :average_expence,value:"-----",readonly: true, id: "average1", class: "content-new__formbox__3__form3"
        .content-new__formbox__4
          = f.label :Latest_weight , class: "content-new__formbox__4__label4"
          = f.text_field :latest_weight, id: "weight", class: "content-new__formbox__4__form4"
          .content-new__formbox__4__unit
            kg
        .content-new__formbox__5
          = f.label :Weight_difference_from_last_time , class: "content-new__formbox__5__label5"
          = f.text_field :gap_weight,value:"-----",readonly: true, id: "gap", class: "content-new__formbox__5__form5"
          .content-new__formbox__5__unit
            kg
        .content-new__formbox__6
          = f.label :average_weight_this_month, class: "content-new__formbox__6__label6"
          = f.text_field :average_weight,value:"-----",readonly: true, id: "average2", class: "content-new__formbox__6__form6"
          .content-new__formbox__6__unit
            kg
        .content-new__formbox__7
          = f.label :Impression , class: "content-new__formbox__7__label7"
          = f.text_area :text, class: "content-new__formbox__7__form7"
        .content-new__formbox__8
          = f.submit "SEND", class: "content-new__formbox__8__form8"