.main
  = render'header'
  .content-show
    .content-show__header
      .content-show__header__title1
        Your
      .content-show__header__date
        = @date
      .content-show__header__title2
        Data
    .content-show__content
      .content-show__content__expences
        .content-show__content__expences__label
          Expence
        .content-show__content__expences__unit
          ¥
        .content-show__content__expences__expence
          = @post.expence
      .content-show__content__total
        .content-show__content__total__label
          Total expence this month
        .content-show__content__total__unit
          ¥
        - if @post.total_expence.nil?
          .content-show__content__total__expence
            0
        - else
          .content-show__content__total__expence
            = @post.total_expence
      .content-show__content__average1
        .content-show__content__average1__label
          Average expence this month
        .content-show__content__average1__unit
          ¥
        - if @post.average_expence.nil?
          .content-show__content__average1__expence
            0
        - else
          .content-show__content__average1__expence
            = @post.average_expence
      .content-show__content__weight
        .content-show__content__weight__label
          Latest weight
        .content-show__content__weight__number
          = @post.latest_weight
        .content-show__content__weight__unit
          kg
      .content-show__content__gap
        .content-show__content__gap__label
          Weight difference from last time
        .content-show__content__gap__number
          = @post.gap_weight
        .content-show__content__gap__unit
          kg
      .content-show__content__average2
        .content-show__content__average2__label
          Average weight this month
        .content-show__content__average2__number
          = @post.average_weight
        .content-show__content__average2__unit
          kg
      .content-show__content__average2
        .content-show__content__average2__label
          Impression
        - if @post.text.empty?
          .content-show__content__average2__text
            No Text
        - else
          .content-show__content__average2__text
            = @post.text
    .content-show__delete
      = link_to "DELETE", post_path(@post.id), method: :delete, class: "content-show__delete__button"